---
layout: default
---
		<header class="primary-header">
			<h1>Portfolio</h1>
		</header>
		<main>

<p>Click on any of the covers for information on storyline or to purchase.</p>

<ul class="covers-container">
    {% for book in site.data.allbooksever %}
{% if book.blurb%}

  <li class="cover-container">
        <a href="{{site.baseurl}}{{book.title | datapage_url }}">
          <img src="images/covers/{{book.slug}}.png" class="cover" alt="Cover of {{book.slug}} {{book.title}}"/>
          <p>
            <strong>{{book.title }}</strong>
          </p>
        </a>
      </li>
{% endif %}
    {% endfor %}
  </ul>
</main>
