---
layout: default
---
<header class="portfolio-header">
  <h1 class="secondary">{{page.title}}</h1>
</header>

<main class="portfolio-page">
  <figure>
    <img class="cover--large" src="{{site.baseurl}}/images/covers/{{page.slug}}.png" alt="Cover of camp {{page.slug}} {{page.title}}"/>
  </figure>
  <section>
    <p class="metadata">
    <p>{{page.blurb}}</p>


    <ul class="shops">
      <li>
        <a class="bookstore" href="{{ page.link }}">Buy '{{page.title}}' at Amazon</a>
      </li>
    </ul>
  </section>
</main>
